<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div th:if="${success}" class="alert alert-success" role="alert" th:text="${success}">
</div>
<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>website</th>
        <th>password</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="psw : ${passwords}">
        <td th:text="${psw.id}"></td>
        <td th:text="${psw.website}"></td>
        <td th:text="${psw.password}"></td>
        <td><a th:href="@{/dashboard/delete/__${psw.id}__}">Delete</a></td>
        <td><a th:href="@{/dashboard/edit/__${psw.id}__}">Edit</a></td>

    </tr>
    </tbody>
</table>

<div class="container">
<a href="/logout">Logout</a>
<a href="dashboard/addEntry">Add new password</a>
</div>

</body>
</html>