<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Password</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css} "/>

</head>
<body>


<form th:if="${!isDecrypted}" th:action="@{/dashboard/show/__${id}__}" method="post" th:object="${entry}">
    <p>Provide master password to show password for
    <a  th:text="${entry.website}" th:field="${entry.website}"></a></p>
    <div class="form-group">
        <label>Master Password</label>
        <input type="password" th:field="${entry.masterPassword}"/>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Show">
    </div>
</form>


<div th:if="${isDecrypted}">
    <div class="form-group" th:object="${decryptedEntry}" >
        <p>Website:</p> <p class="text-primary" th:text="${decryptedEntry.website}"  th:value="${decryptedEntry.website}"></p>
        <p id="myPassword" th:value="${decryptedEntry.masterPassword}"  th:text="${decryptedEntry.masterPassword}"></p>
        <button class="btn btn-primary" onclick="copyToClipboard()"></i>Copy</button>

    </div>


</div>
<div th:if="${error}" th:text="${error}" class=" alert alert-danger"></div>
<a th:href="@{/dashboard}">Go back</a>

</body>


<script th:inline="javascript">
    function copyToClipboard() {
        let copyText = document.getElementById("myPassword");
        window.navigator.clipboard.writeText(copyText.innerText);
    }
</script>


</html>